body {
  font-family: sans-serif;
  /* background-color: lightgoldenrodyellow; */
  background-color: blanchedalmond;
  /* background-color: cornsilk; */
  color: whitesmoke;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.backgroundImage {
  /* 2-4-1. image태그에 class추가 한 후에 배경사진 위치, 크기 변경 */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1; /* 2-4-2. --> 배경 사진을 뒤로 보내줌 */
  animation: fadeIn 0.5s linear; /* 2-4-3. -->부드럽게 animation 설정 */
  /* filter: blur(1px); */
  /* box-shadow: 0 0 10px 10px; */
  /* -webkit-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75); */
  /* -moz-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75); */
}

#weather-div {
  position: absolute;
  top: 300px;
  left: 70px;
}

#weather-div > span {
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  /* font-style: italic; */
  color: wheat;
  /* text-shadow: coral 0 1px; */
  /* text-shadow: 1px 1px 2px black; */
  text-shadow: 1px 1px 30px purple;
  opacity: 0.5;
}

#clock-h1 {
  position: absolute;
  top: 60px;
  left: 70px;
  color: wheat;

  text-shadow: coral 0 1px;
}

#clock-h2 {
  position: absolute;
  top: 120px;
  left: 60px;
  font-size: 50px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: wheat;
  text-shadow: yellowgreen 1px 0 50px;
}
